/* StaffList.css */

.staff-list {
    display: flex;
    flex-wrap: nowrap; /* Ensures cards don't wrap to the next line */
    overflow-x: auto; /* Enable horizontal scrolling if cards overflow */
    
  }
  
  .card {
    flex: 0 0 auto; /* Prevent cards from stretching */
    margin-right: 20px; /* Adjust spacing between cards */
    
  }
  